.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* min-height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-text {
  /* Aakriti and Henry */
  width: 477px;
  height: 112px;

  font-family: 'Andasia';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 112px;
  /* identical to box height */

  text-align: center;

  background: linear-gradient(90deg, #172421 4.51%, #4B5846 102.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.timeline {
  display: flex;
  /* width: 468px; */
  /* height: 4876px; */
  /* left: 758px; */
  /* top: 807px; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
