.rsvp-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 40px; */
  /* position: absolute; */
}

.google-form {
  transform: translateY(-30vw);
}

@media (max-width: 700px) {
.rsvp-page {
  padding: 50px;
}
.google-form {
  transform: translateY(30px);
}
}

.rsvp-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
}

.events-checkbox {
  display: flex;
  width: 60vh;
  max-width: 50vw;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

/* .rsvp-svg {
    z-index: -1;
} */

input {
  position: relative;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: 0;
  width: 60vh;
  max-width: 50vw;
  margin-bottom: 50px;
}

input[type="text"] {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.165em;
  color: #000000;
}

input[type="checkbox"] {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  vertical-align: middle;
  /* word-wrap: break-word;   */
  margin: 0;
  width: 50px;
  height: 20px;
  border-radius: 0px;
}

label {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.165em;
  color: #000000;
}

p {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.165em;
  color: #000000;
}

::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.165em;
  color: #000000;
  /* margin-bottom: 5px; */
}

/* input:focus {
  outline: none !important;
} */
